/* Card */
.card-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-color {
  position: relative;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.card-color .color-img {
  width: 100%;
  padding-top: calc(9 / 16 * 100%);
  background: tomato;
}

.card-color .color-name {
  position: absolute;
  bottom: 10px;
  right: 15px;
  padding: 0;
}

.card-color .color-name .card-title {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0;
}
